extends layout

block content
    div(id="title", align="center")
        h1 Live Agents Summary
    div(id="content", align="center")
        table(id="table" border="1")
            thead
                tr
                    th Agent Name
                    th Login ID
                    th Serving CSQ
                    th Agent Status
                    th Status Duration
                    th Reason Code
                    th Assigned CSQs

            tbody(id="data-update")
    div(class="conn", id="server", align="center")
        p(id="conn") Connecting to server...

    script.
        //var conmessage = {"on" : "Connected to server. Realtime data flow enabled", "off" : "Disconnected from server. Realtime data flow disabled"};
        var socket = io.connect();
        console.log("Starting SocketIO");
        socket.on('connect', function () {
            console.log("Connected to server. Realtime data flow disabled. Connecting to UCCX Server");
            $("#conn").text("Connected to server. Realtime data flow disabled. Connecting to UCCX Server").css('color', '#D2691E');
        });
        socket.on('disconnect', function () {
            $("#conn").text("Disconnected from server. Reconnecting").css('color', 'red');
            //console.log("Disconnected from server. Reconnecting");
        });
        socket.on('FromAPI', function (data) {
            if (data != 'Error') {
                console.log('data_if:' + data);
                $("#conn").text("Connected to server. Realtime data flow enabled").css('color', 'green');
                console.log("Connected to server. Realtime data flow enabled");
                console.log("Start updating");
                updateView(data);
                console.log("Got API data from server");
            } else {
                console.log('data_if_else' + data);
                console.log("Connected to server. Realtime data flow disabled. Cant connnect to UCCX Server");
                $("#conn").text("Connected to server. Realtime data flow disabled. Cant connnect to UCCX Server").css('color', '#D2691E');

            }
        });
        function updateView(data) {
            $("#data-update").empty();
            $.each(data, function (i,data) {
                var tr = $(<tr>);
                var td = $("<td>");
                tr.append(
                    $('<td>').text(data.VoiceCSQDetailsStats.agentName),
                    $('<td>').text(data.VoiceCSQDetailsStats.agentId),
                    $('<td>').text(data.VoiceCSQDetailsStats.skillGroup),
                    $('<td>').text(data.VoiceCSQDetailsStats.agentState),
                    $('<td>').text(msToTime(data.VoiceCSQDetailsStats.agentStateDuration)),
                    $('<td>').text(data.VoiceCSQDetailsStats.reasonCode))
                        $.each(data.VoiceCSQDetailsStats.AgentVoiceCSQNames, function (CSQNameid, subdata) {
                            var p = $("<p>");
                            p.text(subdata.agentVoiceCSQName);
                            td.append(p.css("font-size", 9));
                        })
                tr.append(td);
                $("#data-update").append(tr);})
            //console.log("Table updated");
        }
        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100)
                , seconds = parseInt((duration / 1000) % 60)
                , minutes = parseInt((duration / (1000 * 60)) % 60)
                , hours = parseInt((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? "0" + hours : hours;
            minutes = (minutes < 10) ? "0" + minutes : minutes;
            seconds = (seconds < 10) ? "0" + seconds : seconds;

            return hours + ":" + minutes + ":" + seconds;
        }
